<a href="https://colab.research.google.com/github/DEEPAK-RAMGIRI/2203A51216_DAA/blob/main/LAB_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATE:01/08/2024

#BUBBLE SORT

In [1]:
#Bubble Sort
#Dynamically taking the values
#Time Complexcity O(N^2)
def function1(a):
  for i in range(len(a)):
    for j in range (len(a)-1):
      if a[j] > a[j+1]:
        temp=a[j+1]
        a[j+1]=a[j]
        a[j]=temp
  return a
a=[]
for i in range(4):
  a.append(int(input()))
print(function1(a))

1
23
0
5
[0, 1, 5, 23]

#INSERTION SORT

In [2]:
#Insertion Sort
#Time Complexcity O(n^2)
def function1(a):
  for i in range(len(a)):
    key=a[i]
    j=i-1
    while j>=0 and key<a[j]:
      a[j + 1] = a[j]
      j -= 1
    a[j + 1] = key
  return a
a=[1,23,4,5,6,79,0,34]
print(function1(a))

[0, 1, 4, 5, 6, 23, 34, 79]

#SELECTION SORT

In [3]:
#Selection Sort
#Time Complexcity O(N^2)
#Space Complexcity
def function1(a):
  for i in range(len(a)-1):
    index=i
    for j in range(i+1,len(a)):
      if(a[index] > a[j]):
        index=j
    a[i],a[index]=a[index],a[i]
  return a
a=[1,23,4,5,6,79,0,34]
print(function1(a))

[0, 1, 4, 5, 6, 23, 34, 79]